allow hal_perf_default proc_kernel_sched:file { open read write };
allow hal_perf_default sysfs:file { open read };
allow hal_perf_default vendor_mpctl_prop:file { getattr open read };
