neverallow kernel kernel:capability { dac_override };
neverallow kernel kernel:capability { dac_read_search };
allow kernel untrusted_app:fd use;
allow kernel appdomain_tmpfs:file write;

