allow untrusted_app mnt_media_rw_file:dir r_file_perms;
allow untrusted_app mnt_media_rw_file:dir search;
allow untrusted_app apk_data_file:file setattr;


